version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    image: arshthakur/backend:latest
    restart: unless-stopped
    environment:
      PORT: 8080
      MONGO_URI: mongodb://root:example@mongo:27017/yourdbname?authSource=admin
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    image: arshthakur/frontend:latest
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
